@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body, figure, header,img, div, section, article, input, button, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a,form {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    box-sizing: border-box;
    font-weight: 400;
}
.container{
    display: flex;
    max-width: 1500px;
    margin: auto;
}
.shopping-cart{
    width: 42%;
    margin: 20px auto;
}
.shopping-cart > h2 {
    height: 55px;
    margin-bottom: 20px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.products-wrapper {
    background-color: #fff;
    height: 370px;
    padding: 10px;
    overflow-y: scroll;
}
.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    min-height: initial;
    background-color: #f8f9fa;
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 20px;
}
.product-card  h2 {
    margin-bottom: 0;
    padding: 0 20px;
}
.product-card  p {
    width: 100px;
}
.info {
    background-color: #e9ecef;
    padding: 10px;
    height: 90px;
    border-radius: 15px;
}
button {
    background-color: #20c997;
    color: #fff;
    padding: 10px;
    float: right;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 40px;
}
